html{
    scroll-behavior: smooth;
}
#About-view{
    background-color: var(--azul);
}
#About-view>div:first-child{
    height: 100vh;
}
#logos-cont{
    position: relative;
    height: 88vh;
}
#logos-cont img{
    position: absolute;
    top: 20%;
    left: 50%;
    height: 50vh;
    transition: .3s ease-out;

}
#logo-blanco{
    filter: invert(1);
    transform: translate(-51.5%, -2%);
}
#logo-negro{
    transform: translate(-49.5%, 2%);
    filter: brightness(0);
}
#leer-mas-about{
    margin: auto;
    display: block;
    background: none;
    border: none;
    color: var(--blanco);
    font-size: 0.7em;
    letter-spacing: 4px;
    cursor: pointer;
}
#info-us{
    color: white;
    font-weight: 400;
    text-align: center;
    width: 70vw;
    margin: auto;
    padding-top: 5%;
    line-height: 1.7em;
    font-size: 1.3em;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#info-us p{
    font-family: 'Exo';
    font-weight: 100;
    
}
/* #info-us span{
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%); 
} */


.negro-inv{
    transform: translate(-50.5%, 1%)!important;
    opacity: 0.1;
}
.blanco-inv{
    transform: translate(-50.5%, -1%)!important;
    opacity: 0.1;
}


/* Scroll */
#scroll {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%); 
}
  #scroll span {
    /* position: absolute; */
    display: block;
    top: 0;
    left: 50%;
    width: 20px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50px;
    opacity: 0.8;
    box-sizing: border-box;
  }
  #scroll span::before {
    position: absolute;
    top: 5px;
    left: 50%;
    content: '';
    width: 4px;
    height: 4px;
    /* margin-left: -3px; */
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(-50%, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(-50%, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(-50%, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(-50%, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  #see-more{
    font-size: 0.6em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -70%;
    opacity: 0.8;
}