/* @import url('/assets/Ainsdale/Ainsdale Medium.otf'); */

#Landing2-view{
    height: 100vh;
    background-color: #fff;
    /* overflow: hidden; */
}
#Landing2-view>div{
    position: relative;
    background-color: #171717;
    transition: .4s
}
#Landing2-view>div>div{
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}
#banner{
    height: 100vh;
    width: 90vw;
    padding: 0 5vw;
    position: relative;
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),url('/public/assets/gradient1.jpg');
    background-size: 110% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    transition: .5s;
    animation: bckMove 15s ease-in-out infinite alternate;
    z-index: 1;
    position: fixed;
    top: 0;
}

@keyframes bckMove {
    0% {background-position: 0% 0%;}
    100% {background-position: 100% 0%;}
}
#logo-achique{
    top: 0;
    transform: translate(-50%, -60%) scale(5.5);
    z-index: 2;
    width: 15vw;
    left: 50%;
    transform-origin: 50% 0%;
    position: fixed;
    transition: .75s cubic-bezier(.77,-0.01,.29,1.02) ;
    /* filter: drop-shadow(2px 4px 6px #00000078); */
}
#scroll-more{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    color: #fff;
    z-index: 4;
    cursor: pointer;
}
#scroll-more span{
    margin-bottom: 100%;
    display: block;
    font-size: 0.8em;
    letter-spacing: 1px;
}
/* Scroll */
#scroll-btn {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%); 
}
  #scroll-btn span {
    /* position: absolute; */
    display: block;
    top: 0;
    left: 50%;
    width: 20px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50px;
    opacity: 0.8;
    box-sizing: border-box;
  }
  #scroll-btn span::before {
    position: absolute;
    top: 5px;
    left: 50%;
    content: '';
    width: 4px;
    height: 4px;
    /* margin-left: -3px; */
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(-50%, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(-50%, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(-50%, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(-50%, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

#Landing2-view #LeftBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right, #000000, transparent);
    height: 500px;
    height: 100vh;
}
#logo-cont{
    position: absolute;
    left: 50%;
    z-index: 50;
    top: 0%;
    width: 15vw;
    transform: translateX(-50%);
    display: none;
}
aside path{
    /* fill: #28353e!important; */
    /* transition: fill 1s!important; */
}
#videos-home ul{
    margin-top: 15vh;
    margin-left: 10vh;
}

/* #videos-home ul>div:nth-child(1){ transition-delay: 0.8s; }
#videos-home ul>div:nth-child(2){ transition-delay: 1.1s; }
#videos-home ul>div:nth-child(3){ transition-delay: 1.4s; }
#videos-home ul>div:nth-child(4){ transition-delay: 1.7s; } */

#LeftBar ul>div>a{
    display: flex;
    align-items: center;
}
#LeftBar li{
    font-weight: 400;
    /* display: inline-flex;
    align-items: center; */
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18vh;
    padding: 0% 0;
    letter-spacing: 5px;
    /* margin: 1% 0; */
    font-family: Ainsdale;
    
    transition: .2s cubic-bezier(.77,-0.01,.29,1.02) ;
    
}
#LeftBar li p{
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
#LeftBar li p:after {
    content: attr(data-text);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
    white-space: nowrap;
    transition: width .4s ease-out;

    background-color: #fff;
    background-repeat: repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
#LeftBar li p:after {
    color: #fff;
    /* z-index: 1; */
  }
#LeftBar li.video-selected p::after {
    width: 100%;
}

#LeftBar li.video-selected{
    /* color: #fff; */
    background-size: 100% 100%;


}
#Landing2-view  #video-cont{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
}
#video-cont>video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.description, .read-more{
    font-family: Exo;
    font-size: 16px;
    letter-spacing: 1px;
    color: #f0f0f0;
    text-transform: none;
    height: 30px;
    overflow: hidden;
}
.description span, .read-more span, .read-more img{
    transform: translate3d(0px, 5.5em, 0em) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 15deg);
    display: inline-block;
    transition: 3s cubic-bezier(.26,1.03,0,1);
}
.read-more img{ 
    filter: invert(1);
    width: 12px;
    margin-left: 10px;
}
.video-selected ~ div .description span, .video-selected ~ div .read-more span, .video-selected ~ div .read-more img{
    transform: none!important;
}
.video-selected ~ div .read-more img{
    transform: rotate(-90deg)!important
}

.info-project{
    transform: translateX(5%)
}

#close-vid{
    position: absolute;
    z-index: 99;
    top: 0;
    right: 10%;
    opacity: 0;
    background-color: #272727;
    border-radius: 150px;
    padding: 15px;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 6px 16px 2px #171717;
    opacity: 0;
}
#close-vid span{
    text-align: center;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

#more-work-cont{
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translateX(-50%);
    cursor: pointer;
}
#more-work-cont p{
    color: white;
    font-weight: 600;
    transform: translateY(-14px);
    font-size: .8em;
    letter-spacing: 1px;
    margin-bottom: 10%;
}
#more-work-cont img{
    filter: invert(1);
    width: 16px;
    display:block;
    margin: auto;
}
#section10 a span {
	position: absolute;
    transform: translateX(-50%) scale(0.6);
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}
#section10 a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb10 {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/* Play button */
#dale-play{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}
#dale-play::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: #28353e;
    position: absolute;
    z-index: 0;
    border-radius: 50px;
    left: -15%;
    top: 0;
    transform: translateY(-30%);
    transition: .5s cubic-bezier(.16,.86,.61,1.03) ;

}
#dale-play:hover::before{
    width: 140%;

}
#dale-play>div{
    display: flex;
    z-index: 3;
    position: relative;
}
#dale-play>div p{
    margin-left: 20px;
}
/* animaciion renglon entra y sale */

/* #LeftBar .video-selected::before{
    content: attr(data-title), attr(data-title)
} */

/* #LeftBar li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--azul);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
#LeftBar li:hover {
    color: #95a5a6;
}
#LeftBar li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
} */

@media (max-width: 800px) {

#banner svg{
    left: 50vw;
    transform: translate(-50%, 150%) scale(2.2);
    width: 40vw;
}
#banner{
    animation-duration: 35s!important;
}

#scroll-more{
    bottom:7%
}
#scroll-more span {
    margin-bottom: 70%;
    font-size: 1.1em;
}
#videos-home ul {
    margin-top: 25%;
    margin-left: 3%;
}
#LeftBar li {
    font-size: 10vh;
    margin: 1% 0px;
}
#LeftBar li p{
    white-space: nowrap;
}
.info-project {
    white-space: nowrap;
    display: none;
}

#section10{
    display: none;
}
#more-work-cont {
    position: absolute;
    left: 5%;
    transform: none;
    bottom: 5%;
}
#more-work-cont p{
    margin-bottom: 0%;
    font-size: 1.1em;
    transform: none;
}
#dale-play{
    transform: translateY(-25%);
    bottom: 5%;
    top: inherit;
}
}