#Projects-view .logo{
    width: 10vw;
    margin: 1%;
    filter: invert(1);
    position: absolute;
    top: 0;
    left: 4%;
    z-index: 55;
}

.great-row{
    display: flex;
    height: 110vh;
}
.vertical-one{
    height: 100%;
    width: 50%;
}
.horizontal-two{
    width: 50%;
}
.horizontal-two>div, .horizontal-two>a {
    width: 100%;
    height: 50%;
}
.project-card{
    position: relative;
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}
.project-card:hover img, .project-card:hover video {
    opacity: 0.5;
}
.project-card:hover button{
    background-color: #fafafa;
    border-color: #fafafa;
    color: black;
    font-weight: 400;
    letter-spacing: 5px;
}
.project-card>div{
    text-align: center;
    position: relative;
    width: 80%;
}
.project-card>img, .project-card video {
    position: absolute;
    opacity: 0.2;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.project-card h3{
    font-weight: 600;
    color: #fafafa;
    letter-spacing: 3px;
    font-size: 1em;
    text-transform: uppercase;
}
.project-card h5{
    font-family: 'Exo';
    color: #ddd;
    letter-spacing: 1px;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: .8em;
}
.project-card button{
    font-family: 'Exo';
    background-color: transparent;
    border: 1px solid #ddd;
    color: #fafafa;
    padding: 8px 30px;
    font-weight: 100;
    font-size: .75em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .2s;

}