#RightBar-view{
    /* width: 25px; */
    width: 2.5vw;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    right: 0;
    padding: 2vh 10px 4vh 10px;
    height: 94vh;
    transition: .4s cubic-bezier(.44,.8,.4,1.02);
}
#RightBar-view>div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}
#menu-bars{
    position: relative;
    width: 22px;
    width: 2.5vw;
    height: 20px;
    cursor: pointer;
    float: right;
    z-index: 199;
    position: fixed;
    top: 2%;
    right: 0.9vw;
}
#menu-bars>div{
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0%;
    top: 50%;
    background-color: var(--azul);
    border-radius: 100px;
    transition: .2s cubic-bezier(.44,.8,.4,1.3);
}
#barra-uno{
    transform: translateY(-4px);
}
#barra-dos{
    transform: translateY(4px);
}
.rayas-menos{
    transform: translateY(0)!important;
}
#rrss{width: 100%;}
#rrss>div{
    display: flex;
    flex-direction: column;
    align-items: center
}
#rrss>div a{
    display: flex;
    align-items: center;
    margin-top: 20px;
    opacity: 0.6;
    /* transition: 0.2s */
}
#rrss>div a p{
    font-weight: 600;
    font-size: 0.7em;
}
#rrss>div a:hover{
    opacity: 1;
}
#rrss>div img{
    width: 16px;
    display: block;
    margin: auto 4.5px;
}
#menu-logo{
    position:absolute;
    top: 0%;
    width: 15vw;
    left: 50%;
    transform: translateX(-50%);
}
#menu-logo img{
    width: 100%;
}
#new-menu ul{
    width: 50vw;
    margin: 12% auto;

    display: flex;
    flex-direction: column;
}
#new-menu ul li{
    position: relative;
    font-size: 15vh;
    color: #fff;
    z-index: 2;
    font-family: Ainsdale;
    text-transform: uppercase;
    transition: 0.9s cubic-bezier(.77,-0.01,.29,1.02);

}
#new-menu ul a{
    display: block;
    z-index: 2;
    position: relative;
    width: 50%;
    overflow: hidden;
}
#new-menu ul a:nth-child(odd){
    align-self: flex-start;
    text-align: right;
}
#new-menu ul a:nth-child(even){
    align-self: flex-end;
}
#new-menu ul a:nth-child(odd) li:after{
    content: attr(data-text);
    position: absolute;
    right: 0%;
    top: 85%;
    text-align: right;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}
#new-menu ul a:nth-child(even) li:after{
    content: attr(data-text);
    position: absolute;
    left: 0%;
    top: 85%;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}
#new-menu ul a:nth-child(odd):hover li{
    /* font-weight: 600;
    font-style: italic;
    animation: liMove1 1s cubic-bezier(.16,.53,.07,1.01) forwards; */
    transform: translateY(-90%)

}
#new-menu ul a:nth-child(even):hover li{
    transform: translateY(-90%)
}

#new-menu ul .activeTab{
    cursor: inherit!important;
}
#new-menu ul .activeTab li{
    color: var(--azul)!important;
    /* font-weight: 600; */
}
#new-menu ul .activeTab:hover li{
    transform: none!important;
}

#new-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('/public/assets/gradient1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    transition: .2s;
    animation: bckMove 10s ease-in-out infinite alternate;
}
@keyframes bckMove {
    0% {background-position: 0% 0%;}
    100% {background-position: 100% 0%;}
}
#new-menu aside{
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    right: -5%
}
#new-menu aside div{
    display: flex;
}
#new-menu aside a{
    margin: 0 10px;
    display: flex;
    align-items: center;
    filter: invert(0.6);
    transition: .1s;
    cursor: pointer;
}
#new-menu aside a:hover{
    filter: invert(0.9);
}  
#new-menu aside a img{
    width: 24px;
    margin: 0 10px;
}
#new-menu aside a span{
    font-size: 1em;
    font-weight: 600;
}
#iconCont{
    position: absolute;
    top: 10%;
    left: 4%;
    width: 78px;
    transform: rotate(-30deg);
}
#iconCont img{
    animation: iconMmove 6s linear infinite;

}
@keyframes iconMmove {
    0% {transform: rotateY(0deg)}
    100% {transform: rotateY(360deg)}
}

#aceituna-cont{
    position: absolute;
    top: 60%;
    left: 12%;
    width: 50%;
    z-index: 1;
    animation: float 5s ease-in-out forwards infinite;
    /* filter: brightness(0.5); */
    opacity: 0.8;
    backdrop-filter: blur(10px);
}

@keyframes float {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media (max-width: 800px) {
#menu-bars{
    width: 7vw;
    right: 2.5%;
}
#RightBar-view{
    width: 7vw;
    padding: 2vh 10px 3vh 10px;
    height: 15%
}


}


#Resortin{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 60px;
    height: 60px;
}
#Resortin>div{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    transform: rotate(-15deg);
}
#Resortin>div>div{
    width: 100%;
    height: 100%;
    border: 3px solid var(--azul);
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
#aro1{  transform: scaleX(0.3) translate(0 , 0); animation: aro1 5s infinite }
#aro2{  transform: scaleX(0.3) translate(30% , -5%); animation: aro2 5s infinite }
#aro3{  transform: scaleX(0.3) translate(60% , -10%); animation: aro3 5s infinite }
#aro4{  transform: scaleX(0.3) translate(90% , -15%); animation: aro4 5s infinite }
#aro5{  transform: scaleX(0.3) translate(120% , -20%); animation: aro5 5s infinite }

@keyframes aro1 {
    0%{ transform: scaleX(0.3) translate(0 , 0); opacity: 0}
    10% {transform: scaleX(0.3) translate(0 , 0); opacity: 1}
    90% {transform: scaleX(0.3) translate(0 , 0); opacity: 1}
    100%{ transform: scaleX(0.3) translate(0 , 0); opacity: 0}

}
@keyframes aro2 {
    0%{ transform: scaleX(0.3) translate(0 , 0); opacity: 0}
    10%{ transform: scaleX(0.3) translate(0 , 0); opacity: 0}
    20% {transform: scaleX(0.3) translate(30% , -5%); opacity: 1}
    90% {transform: scaleX(0.3) translate(30% , -5%); opacity: 1}
    100%{ transform: scaleX(0.3) translate(0 , 0); opacity: 0}

}
@keyframes aro3 {
    0%{ transform: scaleX(0.3) translate(30% , -5%); opacity: 0}
    20%{ transform: scaleX(0.3) translate(30% , -5%); opacity: 0}
    30% {transform: scaleX(0.3) translate(60% , -10%); opacity: 1}
    90% {transform: scaleX(0.3) translate(60% , -10%); opacity: 1}
    100%{ transform: scaleX(0.3) translate(0 , 0); opacity: 0}

}
@keyframes aro4 {
    0%{ transform:  scaleX(0.3) translate(60% , -10%); opacity: 0}
    30%{ transform:  scaleX(0.3) translate(60% , -10%); opacity: 0}
    40% {transform: scaleX(0.3) translate(90% , -15%); opacity: 1}
    90% {transform: scaleX(0.3) translate(90% , -15%); opacity: 1}
    100%{ transform: scaleX(0.3) translate(0 , 0); opacity: 0}

}
@keyframes aro5 {
    0%{ transform: scaleX(0.3) translate(90% , -15%); opacity: 0}
    40%{ transform: scaleX(0.3) translate(90% , -15%); opacity: 0}
    50% {transform: scaleX(0.3) translate(120% , -20%); opacity: 1}
    90% {transform: scaleX(0.3) translate(120% , -20%); opacity: 1}
    100%{ transform: scaleX(0.3) translate(0 , 0); opacity: 1}

}

#Cruz{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 50px;
}
#Cruz>img{
    animation: rotacion 10s cubic-bezier(.77,-0.01,.29,1.02) alternate infinite; 
}
@keyframes rotacion {
    0%{ transform: rotate(0deg); }
    20%{ transform: rotate(0deg); }
    40% {transform: rotate(360deg); }
    60% {transform: rotate(360deg); }
    80% {transform: rotate(360deg); }
    100%{ transform: rotate(0deg); }
}

.spanMenu{
    text-align: center;
    padding-top: 5%;
    font-family: Ainsdale;
    display: block;
    font-weight: 300;
    font-size: 38vw;
    white-space: nowrap;
    position: absolute;
    color: rgb(221, 221, 221);
    left: 50%;
    transform: translateX(-50%);
    -webkit-text-stroke: 1px #3f3f3f;
}