#Project-view>main{
    background-color: #fff;
    background-color: #000;
    min-height: 90vh;
}
#Project-view .logo{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 10%;
    filter: invert(0.6);
    z-index: 5;
}
#video-project-cont{
    max-width: 55vw;
    height: 61vh;
    display: block;
    margin: auto;
    overflow: hidden;
}
#gradient-fondo{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index:  1;
    background-image: url('../../../public/assets/gradient2.jpg');
    background-size: 200%;
    background-position: 3% 6%;
    transition: .5s .2s;
}
.chauGrad{ display: none!important;}

#video-project-cont video{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 5;
}
#project-info{
    padding: 5% 0;
    width: 55vw;
    margin: auto;
    color: #fafafa;
    text-align: center;
    position: relative;
    z-index: 3;
}
#project-info>div{
    overflow: hidden;
    margin-bottom: 3%;
}
#project-info h3{
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'ainsdale';
    font-size: 15em;
    text-transform: uppercase;
}
#project-info p, #project-info span{
    font-family: 'Exo';
    font-size: 0.8em;
    font-weight: 100;
}
#project-info button{
    font-family: 'Exo';
    color: var(--negrito);
    background-color: var(--blanco);
    letter-spacing: 4px;
    border: 1px solid var(--blanco);
    padding: 8px 20px;
    font-weight: 600;
    margin-top: 4%;
    cursor: pointer;
    border: 1px solid #fff;
    transition-duration: .3s;
    border-radius: 3px;
}
#project-info button:hover{
    background-color: transparent;
    color: #fff;
}
.tagRole{
    font-weight: 600!important;
}
/* SEccion blanca */
#more-info-project>div{
    padding: 10% 15% 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    background-color: #fff;
    background-color: #000;

}
#more-info-project>div img{width: 100%;}

#more-info-project>div>div{
    position: relative;
    z-index: 5;
}
#project-description{
    width: 55%;
}
#projects-related{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#more-info-project h5{
    font-weight: 600;
    margin-bottom: 50px;
    color: #fafafa
}
#more-info-project p, #more-info-project span{
    font-family: 'Exo';
    color: #bfbfbf;
    font-weight: 300;
}
#project-description>div:first-child{
    margin-bottom: 150px;
}
#project-description img{
    margin-bottom: 40px;
}
#projects-related li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15%;
    cursor: pointer;
}
#projects-related li>div{
    width: 45%;
}
.thumb-related{
    height: 15vh;
    overflow: hidden;
    border-radius: 3px;
}
.thumb-related img, .thumb-related video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#projects-related li h6{
    font-size: 0.8em;
    font-weight: 600;
    color: #fafafa;
    margin-bottom: 5px;
}
#projects-related li p{
    font-size: 0.7em;

}
#btn-more-projects{
    float: right;
    text-align: right;
    margin-bottom: 15%;
    border-bottom: 1px solid #fafafa;
    padding-bottom: 5px;
    display:none
}
#back #Gallery-cont{
    width: 100vw;
    margin-left: -36%;
    padding-bottom: 5%;
}

  /* hide scrollbar */


#Project-view .external {
    overflow: hidden;
    height: 100vh;
}

@media (max-width: 800px){
#gradient-fondo {
    background-repeat: no-repeat;
    background-size: auto 170%;
}
#project-info{
    width: 100%;
    padding-top: 15vh;
}
#project-info h3{
    font-size: 7em;
}
#project-info>div{
    overflow: unset;
}
#video-project-cont {
    height: 30vh;
    max-width: inherit;
    width: 90%;
}
#Project-view>main{
    min-height: 80vh;
}
#more-info-project>div{
    flex-direction: column;
}

#more-info-project>div {
    padding: 10% 0;
    width: 90%;
}
#project-description{
    width: 100%;
}
#project-description>div:first-child {
    margin-bottom: 30%;
}
#back #Gallery-cont {
    margin-left: -5%;
    width: 98vw;
}
#Project-view .external{
    height: 100vh;
}
#projects-related{
    width: 100%;
}
#projects-related>div{
    overflow: auto;
}
#projects-related ul{
    display: flex;
    width: 300vw;
}
#projects-related ul li{
    width: 60vw;
    margin-right: 10vw;
}
.thumb-related {
    height: 8vh;
}

}