#Projects2-view .logo{
    width: 10vw;
    margin: 1%;
    filter: invert(1);
    position: absolute;
    top: 0;
    left: 4%;
    z-index: 55;
}
#Projects2-view{
    background-color: #1c1c1c;
    background-color: #000;
    position: relative;
    overflow: hidden;
    margin-top: 15vh;
}
body{background-color: #000;}
#Projects2-view>main{position:relative;z-index:2}
#Projects2-view #mise-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
}
#Projects2-view header{
    padding: 15% 0 48px;
    left: 0;
    position: relative;
    overflow: hidden;
}
#Projects2-view header h2{
    text-align: center;
    color: #fff;
    font-size: 5em;
    font-weight: 600;
    font-family: 'Ainsdale';
    letter-spacing: 2px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase ;
}
#Projects2-view header h2::after{
    content: '';
    display: block;
    width: 400px;
    height: 200px;
    background: url('/public/assets/miscelanias/miscelanias (2).svg');
    position: absolute;
    top: -57%;
    left: 50%;
    transform: translateX(-50%);
}

#Projects2-view main ul {
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}
#Projects2-view main ul li{
    margin: 15% 0;
}
#Projects2-view main ul li:last-child{
    margin-bottom: 0%;
}
#Projects2-view main ul li>a>div{
    display: flex;
    justify-content: space-between;
;
}
#Projects2-view main ul li:nth-child(even)>a>div{
    flex-direction: row-reverse;
}
.videos-cont{
    width: 66%;
    height: 80vh;
    overflow: hidden;
    border-radius: 5px;
}
.videos-cont video{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.txts-cont{
    width: 31%;
}
.txts-cont hr{
    border: none;
    width: 100%;
    height: 3px;
    background-color: #fff;
}
.txts-cont h4{
    font-weight: 300;
    color: #fff;
    letter-spacing: 3px;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-top: 25%;
    font-family: Ainsdale;
}
.txts-cont p{
    font-family: 'Exo';
    color: #ddd;
    letter-spacing: 1px;
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: .8em;
}
.txts-cont div{
    display: flex;
    margin-top: 20%;
}
.txts-cont div img{
    width: 36px;
    margin-right: 10px;
}
.txts-cont div img:first-child{
    animation: primerr 3s linear infinite;
}
.txts-cont div img:last-child{
    animation: segundd 5s linear infinite;
}
@keyframes primerr {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes segundd {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
#Projects2-view main ul li button{
    font-family: 'Exo';
    background-color: transparent;
    border: none;
    color: #fafafa;
    padding: 8px 0;
    font-weight: 100;
    font-size: .75em;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .2s;
    margin-top: 15% ;
}

#Projects2-view main ul li:hover button{
    /* background-color: #fafafa;
    border-color: #fafafa; */
    font-weight: 600;
    letter-spacing: 5px;
}

#logos-gallery>div{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#logos-gallery>div>div{
    width: 25%;
    margin: 3% 0;
    z-index: 3;
    position: relative;
}
#logos-gallery>div>div img{
    width: 60%;
    margin: auto;
    display: block;
    filter: grayscale(1);
    opacity: 0.2;
    cursor: pointer;
    transition: .4s;
}
#logos-gallery>div>div img:hover{
    filter: grayscale(0);
    opacity: 1;
}

@media (max-width: 800px) {

#Projects2-view .logo{
    width: 30vw;
}
#Projects2-view header {
    padding: 45% 0 48px;
}
#Projects2-view header h2{
    font-size: 4em;
}
#Projects2-view header h2::after{
    top: -87%;
}
#logos-gallery>div>div {
    width: 33%;
}
#logos-gallery>div>div img {
    width: 75%;
}
#Projects2-view main ul li>a>div, #Projects2-view main ul li:nth-child(even)>a>div{
    flex-direction: column;
    margin-bottom: 40%;
}

.videos-cont{
    width: 100%;
    height: 30vh;
    margin-bottom: 5%;
}
.txts-cont{
    width: 100%;
}
.txts-cont h4, #Projects2-view main ul li button, .txts-cont div{
    margin-top: 5%;
}


}
